/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@charset "UTF-8";
html, body {
    background-image: url("Circles.jpg");
    font-family: 'Helvetica Neue';
    background-position: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 14px 0;
    padding: 0;
}

p {
    text-align: center;
    margin: 20px;
    font-size: 1.2em;
}

.line-separator{

    height:1px;
    width: 30%;
    opacity: .8;
    background:#717171;
    margin-left: 34.5%;
    margin-bottom: 0;

    border-bottom:1px solid #313030;

}


.box {
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 800px;
    padding: 16px;
    position: relative;
}
.box .st-cursor {
    font-style: normal;
    font-weight: 700;
    position: relative;
    top: -4px;
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}
.box .st-text {
    font-style: normal;
    font-weight: 500;
}
.box .st-text.console {
    font-family: 'Helvetica Neue', monospace;
    font-size: 18px;
}
.box.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-height: 200px;
    overflow: auto;
}
.box.content > span {
    background: #f9f9f9;
    border-left: 6px solid #ccc;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.7);
    display: block;
    font-size: 32px;
    line-height: 1.5;
    margin: 0 auto;
    overflow-y: scroll;
    padding: 16px;
}
.box.content > span.quote {
    quotes: "“" "”" "‘" "’";
}
.box.content > span.quote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.box > .info {
    color: rgba(0, 0, 0, 0.7);
    padding: 32px;
}
.box > .info a {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    text-decoration: none;
}
.box > .info > h1, .box > .info > h2 {
    text-align: center;
}
.box > .info > h1 {
    font-size: 36px;
}
.box > .info > h2 {
    font-size: 32px;
    font-weight: 500;
}
.box > .info > p {
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
.box > .info.brown {
    background-color: #323232;
    color: white;
}
.box > .info.brown a {
    color: white;
}
.box > .info.small-padding {
    padding-bottom: 1px;
    padding-top: 0;
}
.box > ul {
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 80px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}
.box > ul > li {
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    display: inline-block;
}
.box > ul > li > input {
    display: none;
}
.box > ul > li > input:checked + label {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 700;
}
.box > ul > li > input:checked + label:before {
    border-color: #00897B;
}
.box > ul > li > input[type="radio"] + label:before {
    color: transparent;
    content: '\2022';
}
.box > ul > li > input[type="checkbox"] + label:before {
    border-radius: 2px;
    content: '\2713';
}
.box > ul > li > input:checked + label:before {
    color: #00897B;
}
.box > ul > li > input[type="radio"] + label:before {
    color: transparent;
}
.box > ul > li > label {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    margin-right: 16px;
    position: relative;
    text-transform: capitalize;
    top: 30px;
    -webkit-transition: color .3s;
    transition: color .3s;
}
.box > ul > li > label:before {
    border: solid 2px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    box-sizing: border-box;
    color: white;
    content: '';
    display: inline-block;
    height: 22px;
    margin-right: 16px;
    text-align: center;
    width: 22px;
    -webkit-transition: border-color .3s, color .3s;
    transition: border-color .3s, color .3s;
}
.box:last-child {
    margin-bottom: 0;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/*Folding Panels*/
.fold_container {
    opacity: 0.8;
    width: 700px;
    margin: 0 auto;
    padding-bottom: 100px;
    display: block;
    -webkit-perspective: 1000px;
    margin-top: 100px;
}

.fold_container > div.fold {
    position: relative;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(-180deg);
    -webkit-perspective: 1000px;
    -webkit-transform-origin: center top;
    opacity: 0;
    top: 1px;
    left: 1px;
}

.fold_container > div.fold.set {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(0deg);
    -webkit-perspective: 1000px;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    -webkit-transform-origin: center top;
    opacity: 1;
}

.fold_container > div#one {
    height: 384px;
    z-index: 100;
    background: lightgray;
}

.fold_container > div#two {
    height: 453px;
    z-index: 90;
    background: darkgray;
}

.fold_container > div#three {
    height: 453px;
    z-index: 80;
    background: gray;
}

.fold_container > div#four {
    height: 453px;
    z-index: 70;
    background: dimgray;
}

.fold_container > div#five {
    height: 453px;
    z-index: 60;
    background: #4f4f4f;
}

div.fold a.arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 100;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
}


/*Button Section */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);
html {
    padding-top: 50px;
    font-family: 'Open Sans', Helvetica, arial, sans-serif;
    text-align: center;
    background-color: #eeeeee;
}
html *,
html *:before,
html *:after {
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
html i,
html em,
html b,
html strong,
html span {
    -webkit-transition: none;
    transition: none;
}

*:before,
*:after {
    z-index: -1;
}

h1,
h4 {
    font-family: 'Raleway', 'Open Sans', sans-serif;
    margin: 0;
    line-height: 1;
}

a {
    text-decoration: none;
    line-height: 80px;
    color: black;
}

.centerer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.wrap {
    width: 50%;
    float: left;
}

[class^="btn-"] {
    position: relative;
    left: 140px;
    top: 60px;
    display: block;
    margin: 20px auto;
    width: 100%;
    height: 80px;
    max-width: 250px;
    text-transform: uppercase;
    overflow: hidden;
    border: 1px solid currentColor;
}


.btn-1 {
    color: black;
    font-weight: 700;
}
.btn-1:after {
    content: '';
    width: 0;
    height: 0;
    -webkit-transform: rotate(360deg);
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: #395478 transparent transparent transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.btn-1:hover {
    color: #d4d2e9;
}
.btn-1:hover:after {
    border-width: 330px 330px 0 0;
}
.btn-1:active {
    background: #2a358c;
}


@-webkit-keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}
@-webkit-keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}
@keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}
.btn-11 {
    position: relative;
    color: #2a358c;
}
.btn-11:before, .btn-11:after {
    position: absolute;
    top: 50%;
    content: '';
    width: 20px;
    height: 20px;
    background: #395478;
    border-radius: 50%;
}
.btn-11:before {
    left: -20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*     animation: criss-cross-left 0.8s reverse; */
}
.btn-11:after {
    right: -20px;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    /*     animation: criss-cross-right 0.8s reverse; */
}
.btn-11:hover:before, .btn-11:hover:after {
    /*       @include size($btn-width); */
}
.btn-11:hover:before {
    -webkit-animation: criss-cross-left 0.8s both;
    animation: criss-cross-left 0.8s both;
}
.btn-11:hover:after {
    -webkit-animation: criss-cross-right 0.8s both;
    animation: criss-cross-right 0.8s both;
}


/*LinkedIn Button*/

.size32x32 {
    font-size: 32px;
    position: relative;
}

.icon-linkedin {
    display: inline-block;
    overflow: hidden;
    color: #FFFFFF;
    background-color: #017eb4;
    border-radius: 0.3125em;
    height: 2.5em;
    width: 2.5em;
    position: relative;
}
.icon-linkedin .link-i {
    position: absolute;
    width: 0.375em;
    height: 1.0625em;
    background-color: #FFFFFF;
    top: 1em;
    left: 0.5em;
}
.icon-linkedin .link-i:before {
    content: "";
    width: 0.375em;
    height: 0.375em;
    background-color: #FFFFFF;
    border-radius: 0.25em;
    position: absolute;
    top: -0.5625em;
}
.icon-linkedin .link-n {
    position: absolute;
    width: 0.6875em;
    height: 1.0625em;
    background-color: #FFFFFF;
    top: 1em;
    border-top-left-radius: 0.3125em;
    border-top-right-radius: 0.3125em;
    left: 1.4375em;
}
.icon-linkedin .link-n:before {
    content: "";
    width: 0.375em;
    height: 1.0625em;
    background-color: #FFFFFF;
    position: absolute;
    left: -0.375em;
}
.icon-linkedin .link-n:after {
    content: "";
    width: 0.333333333em;
    height: 1.0625em;
    background-color: #017eb4;
    position: absolute;
    border-top-left-radius: 0.1875em;
    border-top-right-radius: 0.1875em;
    top: 0.3125em;
}

/*LinkedIn Text*/
div.left {
    display: inline-block;
    text-align: right;
    padding-left: 10px;
}

table {
    display: relative;
    align-content: center;
    margin-top: 30%;
    padding-left: 10px;

}

.move {
    margin-left: 10%;
}